---
const {
  size,
  targetName,
  description,
  iframe,
  height,
  background,
  textColor,
  title,
} = Astro.props;
import Iframe from "@/components/utils/Iframe.astro";
import Media from "@/components/utils/Media.astro";
import DraggableCard from "@/components/global/DraggableCard.astro";

const cardBackground = background ?? "black";
const cardTextColor = textColor ?? "white";
---

<DraggableCard>
  <div
    class={`home-card flex h-auto ${size} flex-col justify-between gap-3 p-4`}
    style={`background: ${cardBackground}; color: ${cardTextColor};`}
  >
    {title && <h2 class="heading2 text-balance">{title}</h2>}
    {description && (
      <p class="code text-left text-balance">{description}</p>
    )}
    {
      iframe && (
        <Iframe
          src={iframe}
          title={description || ""}
          aspect_ratio="10/4.6"
          height={height}
        />
      )
    }
    {
      targetName && (
        <div class="aspect-square w-full overflow-hidden p-0 shadow">
          <Media
            src={targetName}
            alt={description || ""}
            isVideo={targetName.match(/\.(mp4|webm|ogg)$/i)}
            cropped={true}
          />
        </div>
      )
    }
  </div>
</DraggableCard>
