---
import BasicLayout from "@/layouts/Basic.astro";
import Column from "@/components/Column.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

import { getCollection } from "astro:content";
const classItems = await getCollection("classes");
---

<BasicLayout
  title={`Lab — ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  image={`/thumbnails/lab.jpg`}
>
  <main class="mb-20 w-full px-[var(--page-margin)]">
    <h1
      class="fade-in w-full self-center text-[30vw] leading-tight tracking-[-0.1em]"
    >
      Class
    </h1>
    <section class="grid w-full gap-4 lg:grid-cols-3">
      {
        classItems
          .filter((item) => item.data.archived === false)
          .map((item) => (
            <a
              href={`/${item.id}`}
              class="fade-in bg-white !no-underline transition-all hover:invert-100"
              key={item.data.title}
            >
              <article class="flex w-full flex-row justify-between gap-x-20 gap-y-10 border border-b px-[var(--page-margin)] py-4 md:gap-y-0">
                <div class="w-full">
                  <h2 class="heading2 text-balance">{item.data.title}</h2>
                  <p class="body1 code mt-2 text-balance text-gray-400">
                    {item.data.school}, {item.data.date}
                  </p>
                  <p class="heading3 mt-2 max-w-[30ch] text-pretty">
                    {item.data.description}
                  </p>
                </div>
              </article>
            </a>
          ))
      }
    </section>
  </main>
</BasicLayout>
