---
import { marked } from "marked"; // install via npm i marked
import BasicLayout from "./Basic.astro";
import type { CollectionEntry } from "astro:content";
type Props = CollectionEntry<"work">["data"];

const {
  title,
  description,
  quote,
  excerpt,
  recognition = [],
  roles,
  tags,
  date,
  heroImage,
} = Astro.props;

const parsedDescription = description ? marked.parseInline(description) : null;
const parsedExcerpt = excerpt ? marked.parseInline(excerpt) : null;
const parsedRecognition = recognition.map((item) => marked.parseInline(item));
---

<BasicLayout>
  <main class="body-text">
    <div class="grid grid-cols-3 px-2 py-4">
      <h1 class="title text-4xl leading-tight">{title}</h1>

      <p>
        {
          roles && roles.length > 0 && (
            <span class="">{`${roles.join(", ")}`}</span>
          )
        }
      </p>
      <h2>{date}</h2>
    </div>
    <video
      class="mb-20 aspect-[16/9] h-auto w-full overflow-hidden bg-black"
      controls
      src={heroImage}
      poster={heroImage}
      loading="lazy"></video>
    <article class="grid grid-cols-2">
      <div class="sticky top-0 flex flex-col gap-16 self-start px-2 py-4">
        {
          parsedDescription && (
            <section>
              <h2 class="subtitle">Description</h2>
              <p
                class="body-text columns-2 text-pretty"
                set:html={parsedDescription}
              />
            </section>
          )
        }

        {
          parsedExcerpt && (
            <section>
              <h2 class="body-text mb-4 font-semibold uppercase underline underline-offset-4">
                Excerpt
              </h2>
              <div class="grid grid-cols-2">
                <p class="body-text text-pretty" set:html={parsedExcerpt} />
              </div>
            </section>
          )
        }

        {
          recognition.length > 0 && (
            <section>
              <h2 class="body-text mb-4 font-semibold uppercase underline underline-offset-4">
                Recognition
              </h2>
              <ul class="body-text list-inside list-decimal space-y-1">
                {parsedRecognition.map((item) => (
                  <li set:html={item} />
                ))}
              </ul>
            </section>
          )
        }
      </div>
      <div class="flex flex-col gap-4 pt-4 prose-img:mb-2">
        <slot />
      </div>
    </article>

    <div class="mt-20 flex flex-row gap-4 px-2 py-4">
      <button class="w-full border-t border-r px-2 py-4">
        <a href="/lab">Last Project</a>
      </button>
      <button class="w-full border-t border-r px-2 py-4">
        <a href="/lab">Next Project</a></button
      >
    </div>
  </main>
</BasicLayout>
