---
// Swiper.astro
const { images, width = "75%" } = Astro.props;
import Swiper from "swiper";
import "swiper/css";
import Media from "@/components/utils/Media.astro";
---

<div class="swiper" style={`--swiper-slide-width: ${width}`}>
  <div class="swiper-wrapper">
    {
      images.map((src, idx) => {
        const [mediaSrc, scaling] = Array.isArray(src) ? src : [src];
        const isVideo = mediaSrc.match(/\.(mp4|webm|ogg)$/i);
        return (
          <div key={idx} class="swiper-slide h-auto">
            <Media
              src={mediaSrc}
              alt={images.src || ""}
              isVideo={isVideo}
              scaling={scaling}
            />
          </div>
        );
      })
    }
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { Autoplay } from "swiper/modules";
  import "swiper/css";
  import { init } from "astro/virtual-modules/prefetch.js";

  function initSwiper() {
    const swiper = new Swiper(".swiper", {
      modules: [Autoplay],
      slidesPerView: "auto",
      spaceBetween: 10,
      grabCursor: true,
      autoplay: {
        delay: 10000,
        disableOnInteraction: true,
      },
    });
  }

  initSwiper();

  document.addEventListener("astro:page-load", () => {
    initSwiper();
  });
</script>

<style>
  .swiper-slide {
    display: flex;
    background: lightgray;
    aspect-ratio: 4/3;
    width: var(--swiper-slide-width);
    overflow: hidden;
  }
</style>
