---
import HeaderLink from "./HeaderLink.astro";
import HeroSketch from "@/components/global/HeroSketch.astro";
import { SITE_DESCRIPTION, SITE_TITLE, NEWS } from "@/consts";

import { marked } from "marked";

const base = import.meta.env.BASE_URL;
const currentPage = Astro.url.pathname; // Get the current page's pathname
const links = [
  { href: `${base}`, label: "Home" },
  { href: `${base}lab`, label: "Laboratory" },
  { href: `${base}about`, label: "About" },
];
---

<nav
  class="monospace flex flex-row justify-between p-4 pb-[20vh] text-black md:pb-[40vh]"
>
  <div transition:animate="none" transition:persist>
    <h1 class="responsive-title max-w-[60ch] pb-8 font-medium text-balance">
      <a href="/" class="!no-underline">{SITE_DESCRIPTION}</a>
    </h1>
    <details class="news-section">
      <summary class="sans cursor-pointer text-[blue]"
        >NEWS
        <div class="mt-4 h-[80px] w-[80px]">
          <HeroSketch />
        </div>
      </summary>
      <div class="sans mt-8 flex flex-col items-center gap-x-4">
        {
          NEWS.map((item, index) => (
            <div
              class="news-item flex flex-row text-[blue]"
              style={{ "--index": `"${index + 1}."` }}
              set:html={marked(item)}
            />
          ))
        }
      </div>
    </details>
  </div>
  <div class="responsive-title flex w-max flex-col items-end">
    <ul class="w-max border-t pt-2 pl-4 leading-tight">
      {
        links.map((link) => (
          <li key={link.href}>
            <a
              href={link.href}
              class={`no-before-after !no-underline ${
                currentPage === link.href
                  ? "pointer-events-none text-[blue]"
                  : "text-black hover:text-[blue]"
              }`}
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
